* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.first-color {
  background-color: #26ffe6;
}
.second-color {
  background-color: #e3b5a4;
}
.third-color {
  background-color: #a4b0f5;
}
.fourth-color {
  background-color: #baff29;
}
